body{
    background-color: #F3E7E7;
}

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 70%;
  height: 110%;
}

h1{
    color: #6E5477;
    font-family: 'Permanent Marker', cursive;
    margin-top: 160px;
}
#play {
    display: block;
    margin-left: 250px;
    margin-right: auto;
    width: 20%;
    margin-top: 60px;
  }
  #btn-solusi{
    padding:0.4em 2em;
    border-radius: 50px;
    color:#264184;
    background-color: #5FB2CC;
    font-family: 'Permanent Marker', cursive;
    font-size:1.3em;
    border:0;
    cursor:pointer;
    margin:1em;
}